* { 
    border: 1px dotted black;
}

body {
    /* your styles here */
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    background-color: rgb(60, 32, 32);
  }
  
  h1, #designed-by {
    /* your styles here */
    margin-top: -4rem;
    margin-bottom: 4rem;
    text-align: center;
    color: orange;
  }
  
  .style1 {
    background-color: #46483D;
  }
  
  .style2 {
    background-color: #d9ae94;
  }
  
  .style3 {
    background-color: #73272D;
  }
  
  .style4 {
    background-color: #EB935F;
  }
  
  .style5 {
    background-color: #808560;
  }
  
  .style6 {
    background-color: #A1665B;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }